<a href="https://colab.research.google.com/github/NazimUddinAlamThepo/ML-For-Lifeline/blob/main/Module_5_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Immutable

tup = (120,23,34,45,5,6,7)
print(type(tup))

<class 'tuple'>

In [ ]:
tpl = (1, 2, 3, [4, 5])
tpl[3].append(6)
print(tpl)

In [ ]:
# ekta value thakle seta ar tuple thake na

tup = (10)

print(type(tup))

# etake touple banaite gele

#Method 1

tup0 = (10,)
print(type(tup0))

tup1 = tuple([10]) # list akare pathate hobe
print(type(tup1))


# List ke always tuple e convert kora jay

lst = [12,2,3,4,5,6,6]
tup2 = tuple(lst)
print(type(tup2))

<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

### Tuple

In [ ]:
# Access using index

print(tup2[2])

# Slicing kora jabe

print(tup2[0:3])

3
(12, 2, 3)

In [ ]:
# Immutability
tup2[2] =100
print(tup2)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Only two method

tup = (45,45,45,232,34,56,678,89)
#Count method
print(tup.count(45))

#index method
print(tup.index(45)) # perfect value pass na korle error dey wtf

3
0

### SET

In [ ]:
# Unique element store kore
# Mutbale(decalre korar poreo value add korte parbo )
# Unordered ( Tai Indexing and slicing korte parbo na)

set = {12,34,4545,56,677,34,3434,34}
print(set)

{4545, 34, 677, 56, 3434, 12}

In [ ]:
# Empty Set declaration method

A = []
print(type(A))

B=()
print(type(B))

# S={}  # This creates a dictionary, not an empty set
# print(type(S)) # DICT chole aslo

s = set() # This is the correct way to create an empty set
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
# Indexing er subida nai tai loop chaliye sob access kora lage

set1 = {1,2,34,6,7,8,9}

for i in set1 :
  print(i)

ans = 10 in set1
print(ans)

1
2
34
6
7
8
9
False

In [ ]:
# Methods

# Hashing kore store kore (kono order nai ek ek somoy ek ek rokom)
set2 = {1,2,3,56,1,23,4,4544,3432,2}
print(set2)

# Add method cause mutubale
set2.add(19999999999)
print(set2)

#Pop
set2.pop()  # samne theke pop kore
print(set2)

#Remove Specific value
set2.remove(19999999999)
print(set2)


########################## Important(set Matematical Method) ##########################

A={1,2,3}
B={4,5,6}

# Union
C = A.union(B)
print(f"  C : {C}")

# Intersection
D = A.intersection(B)
print(D)   # Faka set mani set()

# Disjoint means nothing is common ( Is Disjoint)
print(A.isdisjoint(B))

# Subset
print(A.issubset(C))
print(C.issubset(A))

{4544, 1, 2, 3, 4, 3432, 23, 56}
{4544, 1, 2, 3, 4, 3432, 23, 56, 19999999999}
{1, 2, 3, 4, 3432, 23, 56, 19999999999}
{1, 2, 3, 4, 3432, 23, 56}
  C : {1, 2, 3, 4, 5, 6}
set()
True
True
False

### Dictionary

In [ ]:
# key value pair kore thake

# mutable
# unordered
# Key(Imutable)(Hashable) , Value (Anything )  so key always
# Methods --> Get , Update , pop , None remove

dic = {"name" : "Mahi Alam Dipu",
       "Age" : 20,
       "Address" : "RUET"}

print(dic["name"])

print(dic.get("Age"))

dic["name"] = "Morshedur Rigan Sagar"

print(dic)


dup_handle = {"name" : "Mahi Alam Dipu",
       "Age" : 20,
       "Address" : "RUET",
       "Age":34}

print(dup_handle) # latest ta ke use korbe

Mahi Alam Dipu
20
{'name': 'Morshedur Rigan Sagar', 'Age': 20, 'Address': 'RUET'}
{'name': 'Mahi Alam Dipu', 'Age': 34, 'Address': 'RUET'}

In [ ]:
# Methods

student = {
    "name": "Mahi Alam Dipu",
    "id": "2003099",
    "department": "Computer Science",
    "cgpa": 3.80,
    "courses": ["Compiler Design", "Data Science", "Networking"]
}

print(dic.get("marks"))

# Printing default value
# Default ekta value diye deya jabe chaile "None" na dekhate chaile
print(dic.get("martks",0))

#Add value
student["marks"] =[10,20,10]
print(student)

# Add value using Update
student.update(
    {"Father Name" : "Nooruddin"}
)
print(student)

# Delete

del student["cgpa"]

print(student)

# Copy

dic2 = student.copy()
print(dic2)

None
0
{'name': 'Mahi Alam Dipu', 'id': '2003099', 'department': 'Computer Science', 'cgpa': 3.8, 'courses': ['Compiler Design', 'Data Science', 'Networking'], 'marks': [10, 20, 10]}
{'name': 'Mahi Alam Dipu', 'id': '2003099', 'department': 'Computer Science', 'cgpa': 3.8, 'courses': ['Compiler Design', 'Data Science', 'Networking'], 'marks': [10, 20, 10], 'Father Name': 'Nooruddin'}
{'name': 'Mahi Alam Dipu', 'id': '2003099', 'department': 'Computer Science', 'courses': ['Compiler Design', 'Data Science', 'Networking'], 'marks': [10, 20, 10], 'Father Name': 'Nooruddin'}
{'name': 'Mahi Alam Dipu', 'id': '2003099', 'department': 'Computer Science', 'courses': ['Compiler Design', 'Data Science', 'Networking'], 'marks': [10, 20, 10], 'Father Name': 'Nooruddin'}

In [ ]:
# Dictionary View method
# Real Time kaj kore

dipu = {
    "name": "Mahi Alam Dipu",
    "id": "2003099",
    "department": "Computer Science",
    "cgpa": 3.80,
    "courses": ["Compiler Design", "Data Science", "Networking"]
}

keys = dipu.keys() # It will change dynamically
values = dipu.values()

dipu["result"] ="Good"

print(keys)
print(values)

# Unpacking to iterate)

for key,value in dipu :   # too many values to unpack (expected 2)
  print(key, value)

dict_keys(['name', 'id', 'department', 'cgpa', 'courses', 'result'])
dict_values(['Mahi Alam Dipu', '2003099', 'Computer Science', 3.8, ['Compiler Design', 'Data Science', 'Networking'], 'Good'])

ValueError: too many values to unpack (expected 2)

In [ ]:
# For solving the issue of unpacking we will use item
# Real Time Update hoy (Update kora lage na just pore oita niye kaj korlei oita updated value ta niye kaj kore)

item = dipu.items()

# all the key, value are in tuple () format

print(item)

for key , value in dipu.items() :  # It can be unpacked
  print(key,value)

dict_items([('name', 'Mahi Alam Dipu'), ('id', '2003099'), ('department', 'Computer Science'), ('cgpa', 3.8), ('courses', ['Compiler Design', 'Data Science', 'Networking']), ('result', 'Good')])
name Mahi Alam Dipu
id 2003099
department Computer Science
cgpa 3.8
courses ['Compiler Design', 'Data Science', 'Networking']
result Good

In [ ]:
# Dictionary Comprehension

# Square array creation
square = { x: x**2 for x in range(10)}
print(square)

square_even = {x : x**2 for x in range(1,11) if x%2 == 0}
print(square_even)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
# All about ZIP


coordinates = [
    (23.8103, 90.4125),   # Dhaka
    (22.3569, 91.7832),   # Chittagong
    (24.8949, 91.8687),   # Sylhet
    (22.8456, 89.5403),   # Khulna
    (24.3740, 88.6010),   # Rajshahi
    (22.7010, 90.3535),   # Barishal
    (25.7439, 89.2752),   # Rangpur
    (21.4272, 92.0058)    # Cox’s Bazar
]


places = [
    "Dhaka",
    "Chittagong",
    "Sylhet",
    "Khulna",
    "Rajshahi",
    "Barishal",
    "Rangpur",
    "Cox’s Bazar"
]

exact_location = { X : Y for X , Y in
                  zip(places,coordinates)}

print(exact_location)

{'Dhaka': (23.8103, 90.4125), 'Chittagong': (22.3569, 91.7832), 'Sylhet': (24.8949, 91.8687), 'Khulna': (22.8456, 89.5403), 'Rajshahi': (24.374, 88.601), 'Barishal': (22.701, 90.3535), 'Rangpur': (25.7439, 89.2752), 'Cox’s Bazar': (21.4272, 92.0058)}

### Pratice Problem - 01 (Convert a repeated list into unique value list)

In [ ]:
places = [
    "Dhaka",
    "Chittagong",
    "Sylhet",
    "Khulna",
    "Dhaka",
    "Barishal",
    "Rajshahi",
    "Chittagong",
    "Rangpur",
    "Dhaka"
]


# Set
unique_value = set(places)
print(unique_value)

# Convert it into list
place_list = list(unique_value)
print(place_list)

{'Chittagong', 'Sylhet', 'Khulna', 'Rajshahi', 'Rangpur', 'Dhaka', 'Barishal'}
['Chittagong', 'Sylhet', 'Khulna', 'Rajshahi', 'Rangpur', 'Dhaka', 'Barishal']

### Problem - 02 : Find the frequency of the word

In [ ]:
long_text = """
Dhaka is a busy city. Dhaka has many people.
Chittagong is a port city. Chittagong is beautiful.
Sylhet is green and full of tea gardens. Sylhet is peaceful.
Khulna is known for the Sundarbans. Khulna is calm and charming.
Rajshahi is famous for mangoes. Rajshahi is quiet.
Barishal is called the Venice of Bengal. Barishal has many rivers.
Rangpur is a cool place. Rangpur is full of kind people.
Cox’s Bazar has the longest sea beach. Cox’s Bazar is amazing.

Dhaka, Dhaka, Dhaka!
Chittagong again, Chittagong again!
Sylhet, Sylhet, Sylhet everywhere.
Khulna, Rajshahi, and Barishal are repeated again.
Rangpur and Cox’s Bazar, again and again and again!

Bangladesh has many beautiful cities — Dhaka, Chittagong, Sylhet, Khulna, Rajshahi, Barishal, Rangpur, Cox’s Bazar.
Dhaka is the capital of Bangladesh. Dhaka never sleeps.
"""

word = long_text.split()
print(word)

['Dhaka', 'is', 'a', 'busy', 'city.', 'Dhaka', 'has', 'many', 'people.', 'Chittagong', 'is', 'a', 'port', 'city.', 'Chittagong', 'is', 'beautiful.', 'Sylhet', 'is', 'green', 'and', 'full', 'of', 'tea', 'gardens.', 'Sylhet', 'is', 'peaceful.', 'Khulna', 'is', 'known', 'for', 'the', 'Sundarbans.', 'Khulna', 'is', 'calm', 'and', 'charming.', 'Rajshahi', 'is', 'famous', 'for', 'mangoes.', 'Rajshahi', 'is', 'quiet.', 'Barishal', 'is', 'called', 'the', 'Venice', 'of', 'Bengal.', 'Barishal', 'has', 'many', 'rivers.', 'Rangpur', 'is', 'a', 'cool', 'place.', 'Rangpur', 'is', 'full', 'of', 'kind', 'people.', 'Cox’s', 'Bazar', 'has', 'the', 'longest', 'sea', 'beach.', 'Cox’s', 'Bazar', 'is', 'amazing.', 'Dhaka,', 'Dhaka,', 'Dhaka!', 'Chittagong', 'again,', 'Chittagong', 'again!', 'Sylhet,', 'Sylhet,', 'Sylhet', 'everywhere.', 'Khulna,', 'Rajshahi,', 'and', 'Barishal', 'are', 'repeated', 'again.', 'Rangpur', 'and', 'Cox’s', 'Bazar,', 'again', 'and', 'again', 'and', 'again!', 'Bangladesh', 'has', 'many', 'beautiful', 'cities', '—', 'Dhaka,', 'Chittagong,', 'Sylhet,', 'Khulna,', 'Rajshahi,', 'Barishal,', 'Rangpur,', 'Cox’s', 'Bazar.', 'Dhaka', 'is', 'the', 'capital', 'of', 'Bangladesh.', 'Dhaka', 'never', 'sleeps.']
{'Dhaka': 4, 'is': 14, 'a': 3, 'busy': 1, 'city.': 2, 'has': 4, 'many': 3, 'people.': 2, 'Chittagong': 4, 'port': 1, 'beautiful.': 1, 'Sylhet': 3, 'green': 1, 'and': 6, 'full': 2, 'of': 4, 'tea': 1, 'gardens.': 1, 'peaceful.': 1, 'Khulna': 2, 'known': 1, 'for': 2, 'the': 4, 'Sundarbans.': 1, 'calm': 1, 'charming.': 1, 'Rajshahi': 2, 'famous': 1, 'mangoes.': 1, 'quiet.': 1, 'Barishal': 3, 'called': 1, 'Venice': 1, 'Bengal.': 1, 'rivers.': 1, 'Rangpur': 3, 'cool': 1, 'place.': 1, 'kind': 1, 'Cox’s': 4, 'Bazar': 2, 'longest': 1, 'sea': 1, 'beach.': 1, 'amazing.': 1, 'Dhaka,': 3, 'Dhaka!': 1, 'again,': 1, 'again!': 2, 'Sylhet,': 3, 'everywhere.': 1, 'Khulna,': 2, 'Rajshahi,': 2, 'are': 1, 'repeated': 1, 'again.': 1, 'Bazar,': 1, 'again': 2, 'Bangladesh': 1, 'beautiful': 1, 'cities': 1, '—': 1, 'Chittagong,': 1, 'Barishal,': 1, 'Rangpur,': 1, 'Bazar.': 1, 'capital': 1, 'Bangladesh.': 1, 'never': 1, 'sleeps.': 1}

In [ ]:
# Basic way

count = {}

for w in word :
  # Get use kora hoy dictionary te
  #print(word.count(w))
  count[w] = word.count(w)
print(count)

{'Dhaka': 4, 'is': 14, 'a': 3, 'busy': 1, 'city.': 2, 'has': 4, 'many': 3, 'people.': 2, 'Chittagong': 4, 'port': 1, 'beautiful.': 1, 'Sylhet': 3, 'green': 1, 'and': 6, 'full': 2, 'of': 4, 'tea': 1, 'gardens.': 1, 'peaceful.': 1, 'Khulna': 2, 'known': 1, 'for': 2, 'the': 4, 'Sundarbans.': 1, 'calm': 1, 'charming.': 1, 'Rajshahi': 2, 'famous': 1, 'mangoes.': 1, 'quiet.': 1, 'Barishal': 3, 'called': 1, 'Venice': 1, 'Bengal.': 1, 'rivers.': 1, 'Rangpur': 3, 'cool': 1, 'place.': 1, 'kind': 1, 'Cox’s': 4, 'Bazar': 2, 'longest': 1, 'sea': 1, 'beach.': 1, 'amazing.': 1, 'Dhaka,': 3, 'Dhaka!': 1, 'again,': 1, 'again!': 2, 'Sylhet,': 3, 'everywhere.': 1, 'Khulna,': 2, 'Rajshahi,': 2, 'are': 1, 'repeated': 1, 'again.': 1, 'Bazar,': 1, 'again': 2, 'Bangladesh': 1, 'beautiful': 1, 'cities': 1, '—': 1, 'Chittagong,': 1, 'Barishal,': 1, 'Rangpur,': 1, 'Bazar.': 1, 'capital': 1, 'Bangladesh.': 1, 'never': 1, 'sleeps.': 1}

In [ ]:
# Basic way -2

count2 = {}

for w in word :
  # Get use kora hoy dictionary te

  count2[w] =count2.get(w,0) + 1  # Hard
print(count2)

{'Dhaka': 4, 'is': 14, 'a': 3, 'busy': 1, 'city.': 2, 'has': 4, 'many': 3, 'people.': 2, 'Chittagong': 4, 'port': 1, 'beautiful.': 1, 'Sylhet': 3, 'green': 1, 'and': 6, 'full': 2, 'of': 4, 'tea': 1, 'gardens.': 1, 'peaceful.': 1, 'Khulna': 2, 'known': 1, 'for': 2, 'the': 4, 'Sundarbans.': 1, 'calm': 1, 'charming.': 1, 'Rajshahi': 2, 'famous': 1, 'mangoes.': 1, 'quiet.': 1, 'Barishal': 3, 'called': 1, 'Venice': 1, 'Bengal.': 1, 'rivers.': 1, 'Rangpur': 3, 'cool': 1, 'place.': 1, 'kind': 1, 'Cox’s': 4, 'Bazar': 2, 'longest': 1, 'sea': 1, 'beach.': 1, 'amazing.': 1, 'Dhaka,': 3, 'Dhaka!': 1, 'again,': 1, 'again!': 2, 'Sylhet,': 3, 'everywhere.': 1, 'Khulna,': 2, 'Rajshahi,': 2, 'are': 1, 'repeated': 1, 'again.': 1, 'Bazar,': 1, 'again': 2, 'Bangladesh': 1, 'beautiful': 1, 'cities': 1, '—': 1, 'Chittagong,': 1, 'Barishal,': 1, 'Rangpur,': 1, 'Bazar.': 1, 'capital': 1, 'Bangladesh.': 1, 'never': 1, 'sleeps.': 1}

In [ ]:
set ={2,3,34,45,45454}
print(len(set))

5

In [ ]:
d = {'a': 1, 'b': 2}
print(d.keys())

dict_keys(['a', 'b'])

In [ ]:
# Which method is used to remove an item from a dictionary by key?

d.pop("a")
print(d)

{'b': 2}

![image_2025-10-16_183030606.png]()

In [ ]:
# Syntax: list[start : stop : step]
# start = where to begin (inclusive)
# stop  = where to stop (exclusive)
# step  = how many elements to skip (+ for forward, - for backward)
# ==============================================================

# Create a list
lst = [10, 20, 30, 40, 50, 60]
print("Original List:", lst)

# Index Reference
print("\nINDEX REFERENCE:")
print("Positive Index:  0   1   2   3   4   5")
print("Negative Index: -6  -5  -4  -3  -2  -1")
print("List Elements:  ", lst)

# ==============================================================
# 1️⃣ BASIC FORWARD SLICING
# ==============================================================

print("\n1️⃣ lst[0:2] -> from index 0 up to (not including) index 2")
print("Output:", lst[0:2])  # [10, 20]

print("\n2️⃣ lst[-3:] -> last 3 elements starting from -3 to end")
print("Output:", lst[-3:])  # [40, 50, 60]

print("\n3️⃣ lst[-1:] -> only last element")
print("Output:", lst[-1:])  # [60]

print("\n4️⃣ lst[2:] -> from index 2 to the end")
print("Output:", lst[2:])  # [30, 40, 50, 60]

# ==============================================================
# 2️⃣ SLICING WITH MISSING START OR STOP
# ==============================================================

print("\n5️⃣ lst[:-1] -> all elements except the last")
print("Output:", lst[:-1])  # [10, 20, 30, 40, 50]

print("\n6️⃣ lst[:1] -> only first element (up to index 1)")
print("Output:", lst[:1])  # [10]

print("\n7️⃣ lst[:2] -> first two elements")
print("Output:", lst[:2])  # [10, 20]

print("\n8️⃣ lst[-4:-1] -> from -4 to before -1")
print("Output:", lst[-4:-1])  # [30, 40, 50]

# ==============================================================
# 3️⃣ SLICING WITH STEP VALUES
# ==============================================================

print("\n9️⃣ lst[::2] -> every 2nd element (forward direction)")
print("Output:", lst[::2])  # [10, 30, 50]

print("\n🔟 lst[::-2] -> every 2nd element (backward direction)")
print("Output:", lst[::-2])  # [60, 40, 20]

print("\n1️⃣1️⃣ lst[2::] -> from index 2 to end (default step = 1)")
print("Output:", lst[2::])  # [30, 40, 50, 60]

print("\n1️⃣2️⃣ lst[-2::] ")

print("Output:", lst[-2::])  # [30, 40, 50, 60]

# ==============================================================
# 4️⃣ REVERSE SLICING
# ==============================================================

print("\n1️⃣3️⃣ lst[::-1] -> reverse the entire list")
print("Output:", lst[::-1])  # [60, 50, 40, 30, 20, 10]
print("Explanation: step = -1 reverses the direction of traversal.")

In [ ]:
# Module 5 er pratice baki